*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #6ea7fd, #69018f);
}

#button{
    background-color: #69018f;
    color:white;
    margin-top: 10px;
    padding: 20px;
    border: 2px groove black;
    outline: none;
    border-radius: 1em;
    font-weight: bold;
}